<!-- <div class="row ">
    <div class="col-md-9">
        <h5>Click Number of Pins Knocked Down</h5>
        <div class="btn-toolbar pinButtons" role="toolbar">
            <button id="btn{{pin.pinValue}}" type="button" class="btn btn-default" data-toggle="tooltip"
                data-placement="bottom" title="{{pin.title}}" (click)="knockedDownPinNumber(pin.pinValue);"
                value="{{pin.pinValue}}" style="display: inline;    cursor: pointer;"
                *ngFor="let pin of noOfPinsKnockedDown">{{pin.pinValue}}</button>
        </div>
    </div>
    <div class="col-md-3 gamehidden"> </div>
</div>


<table>
    <tbody>
        <tr>
            <td colspan="2" class="frame" id="frame{{frameID}}" *ngFor="let frameID of noOfFrames">{{frameID}}</td>

        </tr>
        <tr>
            <td *ngFor="let index of noOfInputFields">
                <input type="text" id="input{{index}}" name="ball" size="1" maxlength="1" readonly="true" onchange="calculate(player1)">
            </td>

            <td>&nbsp;</td>
            <td>Max Score</td>
        </tr>
        <tr>
            <td colspan="2" *ngFor="let frameID of noOfFrames">
                <input type="text" id="score{{frameID}}" name="score" size="7" readonly="true">
            </td>

            <td colspan="2">&nbsp;</td>
            <td><input type="text" name="maxScore" size="8" readonly="true" value="300"></td>
        </tr>
        <tr>
            <td colspan="16"></td>
            <td colspan="7" style="text-align: right;"><input style="font-weight: normal;" type="button" name="clear"
                    value="Clear values" onclick="clearValues(player1)"></td>
        </tr>
    </tbody>

</table> -->




<div id='title' class='title'>
  <h1>Bowling Scoresheet</h1>
</div>

<div id='buttons' class='buttons'  *ngIf="gameOverFlag == false">
  <button type="button" id="btn{{i.pinValue}}" data-toggle="tooltip" data-placement="bottom" title="{{i.title}}"
    class="button" (click)="knockedDownPinNumber(i.pinValue)" *ngFor="let i of noOfPinsKnockedDown">{{i.pinValue}}</button>

</div>

<div id='scoresheet' *ngIf="gameOverFlag == false">
  <table id='scoresheetTable' class='scoresheet' cellpadding='1' cellspacing='0'>
    <tr>
      <th colspan='6'>Frame 1</th>
      <th colspan='6'>Frame 2</th>
      <th colspan='6'>Frame 3</th>
      <th colspan='6'>Frame 4</th>
      <th colspan='6'>Frame 5</th>
      <th colspan='6'>Frame 6</th>
      <th colspan='6'>Frame 7</th>
      <th colspan='6'>Frame 8</th>
      <th colspan='6'>Frame 9</th>
      <th colspan='6'>Frame 10</th>
    </tr>
    <tr>
      <td colspan='3'></td>
      <td colspan='3'></td>
      <td colspan='3'></td>
      <td colspan='3'></td>
      <td colspan='3'></td>
      <td colspan='3'></td>
      <td colspan='3'></td>
      <td colspan='3'></td>
      <td colspan='3'></td>
      <td colspan='3'></td>
      <td colspan='3'></td>
      <td colspan='3'></td>
      <td colspan='3'></td>
      <td colspan='3'></td>
      <td colspan='3'></td>
      <td colspan='3'></td>
      <td colspan='3'></td>
      <td colspan='3'></td>
      <td colspan='2'></td>
      <td colspan='2'></td>
      <td colspan='2'></td>
    </tr>
    <tr>
      <td colspan='6' id="score1"></td>
      <td colspan='6'></td>
      <td colspan='6'></td>
      <td colspan='6'></td>
      <td colspan='6'></td>
      <td colspan='6'></td>
      <td colspan='6'></td>
      <td colspan='6'></td>
      <td colspan='6'></td>
      <td colspan='6'></td>
    </tr>
  </table>
</div>

<div id='gameOver' *ngIf="gameOverFlag == true">
  <h1><a id="playAgain" (click)="playAgain();">Play Again?</a></h1>
</div>